:root {

  --main-color-a-1:#18130f;
  --main-color-a-5:#F2C299;
  --main-color-a-7:#F7DAC1;
  --main-color-a-8:#F9E6D6;
  --main-color-a-9:#FCF2EA;
  --secondary-color: #593C36;
  --dark-color:#252525;
}